@import "colors";

/* Prefixes */
$bem-block-prefix:    b-  !default;
$bem-element-prefix:  __  !default;
$bem-modifier-prefix: _   !default;

// Static path
$images-path: unquote('./media');

$fonts-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$fonts-stack-text: Georgia, Cambria, "Times New Roman", Times, serif;