@import "../../stylesheets/helpers/all";

@include bem-block(comment) {
  position: relative;
  background-color: #fff;
  padding: 24px;

  &:not(:first-of-type) {
    margin-top: 4px;
  }

  @include bem-element(date) {
    font-size: .8em;
  }

  @include bem-element(text) {
    padding: 4px 0;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack-text);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include bem-element(actions) {
    @extend %layer-flex;
    flex-direction: row;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
  }

  @include bem-element(vote) {
  }

  @include bem-element(delete) {
    margin-left: 4px;
  }
}